<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @subject.subject %>
</p>


<%= link_to 'Редактировать', edit_subject_path(@subject), :class => "btn btn-small" %>
<%= link_to 'Назад', subjects_path, :class => "btn btn-small" %>
